/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap'); */

*{
    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* Global Styling */
::-webkit-scrollbar{
    display: none;
}
::selection{
    background: #e4e7eb;
    color: #100d1e;
}
/* ::placeholder{
    color: #100d1e;
} */
.bg_color{
    background: #0e141b;
}
.btn{
    border-radius: 0px !important;
    font-size: 1.03rem;
    letter-spacing: 1.1px;
    font-weight: 600;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px !important;
}
.form-select{
    border-radius: 0px;
}
.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}

/*  */
.primary{
    color: #cecece;
}
.secondary{
    color: #ea3c52;
}
.tertiary{
    color: #9a95b5;
}

/*  */
.tag_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.18rem;
}
.hr_line{
    width: 8%;
    height: 2.0px;
    background: #ea3c52;
    border-radius: 10px;
}


/* Navbar Section Styling */
.navbar_section{
    background: #141123;
}
.g_tech_logo{
    width: 125px;
    height: 35px;
}
.navbar_items .nav-link{
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    color: #cecece;
    margin-left: 0.5rem;
    border-bottom: 3px solid #141123;
    transform: skewX(0deg);
    transition: 0.5s ease-out;
}
.navbar_items .active{
    font-weight: 600;
    border-bottom: 3px solid #ea3c52;
    color: #ea3c52;
    background: #282634;
    /* transform: skewX(15deg); */
}
.navbar_items .nav-link:hover{
    background: #282634;
    border-bottom: 3px solid #ea3c52;
    color: #ea3c52;
    /* transform: skewX(10deg); */
}


/* Landing Page Section Styling */
/* .landing_page_section{    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.80)), url('../img/bg_2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
} */
.landing_page_section{
    /* background-image: linear-gradient(-45deg, #211855 0%,  #327f9b 100%); */
    /* background-image: linear-gradient(-45deg, #211855 0%,  #216178 100%); */
    /* background-image: linear-gradient(-45deg, #7628a3 50%, #2d2079 0%,  #216178 100%); */
    /* background-image: linear-gradient(-20deg, #7628a3 30%, #2d2079 5%,  #216178 25%); */
    /* background-image: linear-gradient(-45deg, #2d2079 25%,  #216178 100%); */
    background-image: linear-gradient(-50deg, #38279c 25%,  #184859 100%);
    height: 75vh;
}
.landing_page_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.landing_page_content{
    width: 55%;
}
.first_content{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.line{
    width: 35px;
    height: 1.7px;
    background: #cecece;
}
/* .stroke-text{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ea3c52;
    color: transparent;
} */
.main_text{
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.13rem;
    line-height: 3.6rem;
    color: #141123;
    /* background: transparent;
    transition: 0.68s ease-out; */
}
/* .main_text:hover{
    background: #141123;
    transform: scaleX(1);
    transform-origin: left right;
    color: #cecece;
} */
.button_group{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.get_started_btn{
    width: 165px;
    height: 40px;
    background: #100d1e;
    color: #9a95b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #100d1e;
    transition: 0.5s ease-out;
}
.get_started_btn:hover{
    background: transparent;
    color: #100d1e;
    border: 2px solid #100d1e;
}
.contact_us_btn{
    width: 165px;
    height: 40px;
    background: transparent;
    color: #ea3c52;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ea3c52;
    transition: 0.5s ease-out;
}
.contact_us_btn:hover{
    background: #ea3c52;
    color: #100d1e;
    border: 2px solid #ea3c52;
}
/* .main_text{
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
    line-height: 3.0rem;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,0,128), #00dbde);
    border-image-slice: 1;
    width:100%;
} */
.landing_page_img_box{
    width: 45%;
}
.landing_page_img{
    width: 100%;
    height: 60vh;
    animation: Animate 4s ease-out infinite alternate;
}

/* Zoom in & Zoom out Animation */
@keyframes Animate {
    0% {
      transform: scale(0.9999);
      filter: drop-shadow(4px 4px 10px #100d1e);
      filter: saturate(100%);
    }
    100% {
        transform: scale(1.1);
        filter: drop-shadow(3px 3px 10px #100d1e);
        filter: saturate(200%);
    }
}

/* Status Section Styling */
.status_section{
    background: #e4e7eb;
    border-bottom: 1px solid #cecece;
}
.status_data_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.status_box{
    width: 260px;
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
    gap: 0.9rem;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.status_box:hover{
    box-shadow: 2px 2px 10px #9a95b5;
}
.status_img{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #141123;
}
.status_img i{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #184859;
    filter: saturate(200%);
    transition: transform 0.5s ease-out;
}
.status_box:hover .status_img i{
    transform: scale(1.2);
    color: #184859;
    filter: saturate(500%);
}
.status_count{
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: #100d1e;
}
.status_title{
    font-size: 1.1rem;
    font-weight: 500;
}



/* About Us Page Section Styling */
.about_section_boxes{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}
.about_img_box{
    width: 55%;
    height: auto;
}
.about_img{
    width: 100%;
    height: 50vh;
    animation: AboutImg 1s infinite  alternate;
}
.about_data_content_box{
    width: 45%;
    height: auto;
}
.about_btn_content{
    text-align: start;
}
.nav-pills .nav-link{
    border-radius: 0px;
    color: #100d1e;
    border-bottom: 1px solid #cecece;
    border-left: 4px solid transparent;
    transition: 0.68s ease-in;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f8f9fa;
    background: #cecece;
    border-bottom: 1px solid #cecece;
    border-left: 4px solid #ea3c52;
}
.about_title{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.09rem;
    color: #100d1e;
}
.about_description{
    font-size: 0.79rem;
    font-weight: 400;
    color: #5c5b5b;
}


/* Zoom in & Zoom out Animation */
@keyframes AboutImg {
    0% {
      transform: translateY(0deg);
    }
    100% {
        transform: translateY(-10deg);
    }
}


/* About Us Banner Section Styling */
.about_us_banner_section{
    background: linear-gradient(to right, rgba(19, 11, 60, 0.90), rgba(6, 32, 42, 0.88), rgba(6, 32, 42, 0.85), rgba(19, 11, 60, 0.91), rgba(24, 72, 89, 1)), url('../img/about_banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.about_banner_section{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}
.about_banner_box{
    width: 350px;
    height: auto;
    background: #e4e7eb;
    box-shadow: 4px 4px 10px #100d1e;
    border-bottom: 4px solid #ea3c52;
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.68s ease-out;
}
.about_banner_box:hover{
    opacity: 1;
}
.banner_data{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.banner_data .banner_icon{
    font-size: 1.4rem;
    font-weight: 600;
    color: #ea3c52;
    transition: transform 0.68s ease-out;
}
.about_banner_box:hover .banner_data .banner_icon{
    transform: scale(1.2);
}
.banner_data .banner_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #ea3c52;
    letter-spacing: 0.05rem;
}



/* Services Section Styling */
.services_section{
    width: 100%;
    background: #fbfbfb;
    border-bottom: 1px solid #cecece;
}
.services_boxes_section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.service_box{
    width: 265px;
    height: auto;
    background: #e4e7eb;
    transition: all 0.5s ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 4px solid #ea3c52;
    transition: 0.68s ease-out;
}
.service_box:hover{
    box-shadow: -0.2px -0.2px 4px #7d7896,
                4px 4px 4px #5c5b5b;
}
.service_count_and_icon_box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.68s ease;
}
.service_icon{
    width: 85px;
    height: 85px;
    background: #9a95b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cecece;
    transition: 0.68s ease-out;
}
.service_icon i{
    font-size: 2.6rem;
    font-weight: 600;
    color: #100d1e;
    transition: transform 0.68s ease;
}
.service_box:hover .service_icon i{
    transform: scale(1.2);
}
.service_count{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.68s ease-out;
}
.service_count p{
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 0.00001px;
    -webkit-text-stroke-color: #cecece;
    color: transparent;
}
.service_box:hover .service_icon{
    background: #7d7896;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.service_title{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: #100d1e;
}
.service_description{
    font-size: 0.91rem;
    color: #7d7896;
}

/* Expertise Section Styling */
.expertise_section{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #cecece;
    /* background: #141123; */
}
.expertise_boxes{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    row-gap: 4.5rem;
    column-gap: 2.7rem;
    flex-wrap: wrap;
}
/* background: linear-gradient(to right, rgba(19, 11, 60, 0.98), rgba(6, 32, 42, 0.96), rgba(6, 32, 42, 0.92), rgba(19, 11, 60, 0.92), rgba(24, 72, 89, 0.91)), url('../img/g1.png');
background-position: center center;
background-repeat: no-repeat;
background-size: cover; */

.expertise_img{
    width: 90%;
    max-height: 10vh;
    filter: saturate(0%);
    transition: 0.5s ease-out;
    cursor: pointer;
}
.expertise_img:hover{
    filter: saturate(200%);
}


/* How we Work Section Styling */
.working_mechanism_section{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #cecece;
}


/*  */