/*  */

/* Global Styling */
::-webkit-scrollbar{
    display: none;
}
::selection{
    background: #e4e7eb;
    color: #100d1e;
}
/* ::placeholder{
    color: #100d1e;
} */
.btn{
    border-radius: 0px !important;
    font-size: 1.03rem;
    letter-spacing: 1.1px;
    font-weight: 600;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px !important;
}
.form-select{
    border-radius: 0px;
}
.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}

/*  */
.primary{
    color: #cecece;
}
.secondary{
    color: #ea3c52;
}
.tertiary{
    color: #282634;
}


/* Navbar Section Styling */
.navbar_section{
    background: #141123;
}
.g_tech_logo{
    width: 125px;
    height: 35px;
}
.navbar_items .nav-link{
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    color: #cecece;
    margin-left: 0.5rem;
    border-bottom: 3px solid #141123;
    transform: skewX(0deg);
    transition: 0.5s ease-out;
}
.navbar_items .active{
    font-weight: 600;
    border-bottom: 3px solid #ea3c52;
    color: #ea3c52;
    background: #282634;
    /* transform: skewX(15deg); */
}
.navbar_items .nav-link:hover{
    background: #282634;
    border-bottom: 3px solid #ea3c52;
    color: #ea3c52;
    /* transform: skewX(10deg); */
}


/* Landing Page Section Styling */
.landing_page_section_box{
    width: 100%;
    height: 90vh;
    /* background: #595959; */
}
.landing_page_section{    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.80)), url('../img/bg_2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.services_section{
    position: absolute;
    bottom: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    backdrop-filter: blur(5px);
}
.services_box{
    position: relative;
    width: 250px;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #100d1e;
    border-radius: 0px;
    /* box-shadow: 2px 2px 5px #595959,
                -2px -2px 5px #ffffff; */
    cursor: pointer;
}
.total_count{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #282634; */
    background-image: linear-gradient(45deg, #282634 0%,  #100d1e 100%);
    padding: 1rem;
    border: 1px double #282634;
    box-shadow: inset 2px 2px 2px #595959,
                inset -2px -2px 2px #ffffff;
}
.total_count i{
    font-size: 1.7rem;
    font-weight: 800;
    color: #595959;
    transition: transform 0.5s ease-out;
}
.services_box:hover .total_count i{
    transform: scale(1.3);
    color: #cecece;
}
.data_title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.total_data{
    font-size: 2.5rem;
    /* font-style: italic; */
    color: #ea3c52;
    font-weight: bold;
    opacity: 0.5;
    transition: all 0.5s ease-out;
}
.services_box:hover .total_data{
    opacity: 0.9;
    transform: scale(1.0);
}



/* About Us Page Section Styling */
.about_section_boxes{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.about_box_img{
    width: 40%;
    height: auto;
}
.about_img{
    width: 100%;
    height: 40vh;
}
.about_box_data{
    width: 60%;
    height: auto;
}


/*  */